<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>nav}}

  <div class="toppanel">
    <nav class="nav-toggle">
        <ul class="d-flex justify-content-center align-items-center">
            <li><a href="">Redhat Linux</a></li>
            <li><a href="">Azure Network</a></li>
            <li><a href="">Dev OOPS</a></li>
            <li><a href="">Full Web Development</a></li>
            <li><a href="">Others</a></li>
        </ul>
    </nav>
  </div>
  <div class="bottompanel">
    <div class="row">
        <div class="col d-flex align-items-center ps-5">
            <div class="hero_box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DZWQwRs-kag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="content_box w-75 mt-5">
                <h1>WHY CHOOSE AWS CLOUD CERTIFICATIONS TRAINING PROGRAM</h1>
                <p>AWS is the standard to cloud day by day, and the certifications are probable and within reach. it doesn't require highly specialized and expensive training and there is high demand for AWS skills as it pays the top money. It provides the knowledge of designing, building infrastructure and operating the application on AWS. It makes one know about moving the complex application on AWS And testing of software system and associated devices.  Amazon Web Services (AWS)  provides on-demand cloud computing platforms to individuals, companies, and governments, on a paid subscription basis. The technology allows subscribers to have at their disposal a virtual cluster of computers, available all the time, through the Internet.
                </p>
                <button class="btn-2 p-3">Register Now</button>
            </div>
        </div>
    </div>
  </div>
</body>
</html>