<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>nav}}

  <div class="toppanel">
    <nav class="nav-toggle">
        <ul class="d-flex justify-content-center align-items-center">
            <li><a href="">Redhat Linux</a></li>
            <li><a href="">Azure Network</a></li>
            <li><a href="">Dev OOPS</a></li>
            <li><a href="">Full Web Development</a></li>
            <li><a href="">Others</a></li>
        </ul>
    </nav>
  </div>
  <div class="bottompanel">
    <div class="row">
        <div class="col d-flex align-items-center ps-5">
            <div class="hero_box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OMZQOuBG87Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="content_box w-75 mt-5">
                <h1>Why Choose DevOps Certifications Training Program?</h1>
                <p>DevOps is that aspect of an organization that helps bridging the gap between the development and the operations department. With DevOps training certification program at GRRAS, you will become a full-fledged DevOps engineer. With this certification course, you will get knowledge about deploying an application, scaling it vertically and horizontally, and monitoring the deployed application for zero downtime, among other things related to managing multiple departments in an organization. 
                </p>
                <button class="btn-2 p-3">Register Now</button>
            </div>
        </div>
    </div>
  </div>
</body>
</html>