<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>nav}}

  <div class="toppanel">
    <nav class="nav-toggle">
        <ul class="d-flex justify-content-center align-items-center">
            <li><a href="">Redhat Linux</a></li>
            <li><a href="">Azure Network</a></li>
            <li><a href="">Dev OOPS</a></li>
            <li><a href="">Full Web Development</a></li>
            <li><a href="">Others</a></li>
        </ul>
    </nav>
  </div>
  <div class="bottompanel">
    <div class="row">
        <div class="col d-flex align-items-center ps-5">
            <div class="hero_box"></div>
        </div>
        <div class="col">
            <div class="content_box w-75 mt-5">
                <h1>Why Choose Mern Stack Development Training Course Program</h1>
                <p>With Full Stack Development training, your value as a developer in the tech world grows manifold. With your competency in handling complete web development process in any organization, you become an inseparable asset to recruiters. There is only one language you need to learn to be able to work on these stacks and that is JAVASCRIPT. After having completed this training, you will be able to handle front end development, back end development, as well as everything associated with database aspects. The development process can be sped up with accurate skills.
                </p>
                <button class="btn-2 p-3">Register Now</button>
            </div>
        </div>
    </div>
  </div>
</body>
</html>