<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>nav}}

  <div class="toppanel">
    <nav class="nav-toggle">
        <ul class="d-flex justify-content-center align-items-center">
            <li><a href="">Redhat Linux</a></li>
            <li><a href="">Azure Network</a></li>
            <li><a href="">Dev OOPS</a></li>
            <li><a href="">Full Web Development</a></li>
            <li><a href="">Others</a></li>
        </ul>
    </nav>
  </div>
  <div class="bottompanel">
    <div class="row">
        <div class="col d-flex align-items-center ps-5">
            <div class="hero_box">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/0KqBZX7_COk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="content_box w-75 mt-5">
                <h1>WHY CHOOSE RHCE?</h1>
                <p>Red Hat offers you a successful career with this certification training of RHCE (RedHat Certified System Engineer. You will be entering the IT sector with full confidence of working on the installation and configuration of the Linux Operating The system in your company. Earlier RHCE was limited to the Server part but now it has been updated to automation for which ANSIBLE comes into play.With Red hat RHCE certification, you can give your career a head start and are not locked with only one sector of information technology, you get chance to work in different sectors like healthcare companies, Airlines and also in commercial banks.  You will be able to deploy, manage and support the infrastructure and also be able to do 
                </p>
                <button class="btn-2 p-3">Register Now</button>
            </div>
        </div>
    </div>
  </div>
</body>
</html>