<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>nav}}

  <div class="toppanel">
    <nav class="nav-toggle">
        <ul class="d-flex justify-content-center align-items-center">
            <li><a href="">Redhat Linux</a></li>
            <li><a href="">Azure Network</a></li>
            <li><a href="">Dev OOPS</a></li>
            <li><a href="">Full Web Development</a></li>
            <li><a href="">Others</a></li>
        </ul>
    </nav>
  </div>
  <div class="bottompanel">
    <div class="row">
        <div class="col d-flex align-items-center ps-5">
            <div class="hero_box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/0KqBZX7_COk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="content_box w-75 mt-5">
                <h1>WHY CHOOSE RHCSA?</h1>
                <p>
Red Hat offers you a bright future, with its open source feature and hence with RHCSA (the first entry level certification for Linux Administration) , you can begin your Linux career with this .You will study the Installation and configuration of Linux Operating System in this and hence with a bundle of commands you’ll be a pro in handling the System Admin work in an organisation. With Red hat RHCSA certification, you can give your career a head start and are not locked with only one sector of information technology, you get chance to work in different sectors like healthcare companies, Airlines and also in commercial banks. 
                </p>
                <button class="btn-2 p-3">Register Now</button>
            </div>
        </div>
    </div>
  </div>
</body>
</html>