<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>nav}}

  <div class="toppanel">
    <nav class="nav-toggle">
        <ul class="d-flex justify-content-center align-items-center">
            <li><a href="">Redhat Linux</a></li>
            <li><a href="">Azure Network</a></li>
            <li><a href="">Dev OOPS</a></li>
            <li><a href="">Full Web Development</a></li>
            <li><a href="">Others</a></li>
        </ul>
    </nav>
  </div>
  <div class="bottompanel">
    <div class="row">
        <div class="col d-flex align-items-center ps-5">
            <div class="hero_box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Y2Vqgh2XeeA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="content_box w-75 mt-5">
                <h1>Why Salesforce Admin and Development Program?</h1>
                <p>
There are endless possibilities and opportunities in the Salesforce world. Whether you choose to become a Salesforce Administrator or a Salesforce Developer, your future is going to look much brighter with the right training and certification course. While the line between a Salesforce admin and dev is blurry, there is still a distinction you should know about.A Salesforce administrator acts as a link between technology and business. Their job is to administer and manage a Salesforce organization and know it inside out. They have the knowledge and power to make minor declarative changes, along with managing releases into production.A Salesforce developer’s job is to build functionality by employing tools such as Visualforce and Apex. Additionally, they use frameworks such as Lightning Components.Choosing either of these will offer you a chance to have a great career. Whether you move along with Salesforce administration training or Salesforce development training, your future is going to be secure. Choosing this training course will open the world to your benefit.
                </p>
                <button class="btn-2 p-3">Register Now</button>
            </div>
        </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>