<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
<body class="bg-success">
    <style>
.thanks_container {
    background: linear-gradient(rgb(0, 68, 20), rgb(0, 54, 16));
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
}

.thanks_container > .thanks_page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75rem;
}

    </style>
    <div class="thanks_container">
            <div class="thanks_page ms-3">Thanks! We'll Look Upto Your Request</div>
    <div class="p-3 bg-white"><img src="img/logo.png" alt="" height="40rem"></div>
    </div>
</body>
</html>