<section class="about-us">
    <div class="row bg-white">
        <div class="col-md-9">
            <div class="container">
                <div class="row text-center heading_benefits p-2">
                    <h4>Benifits of Joining Grras!</h4>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-sm-3">
                        <div class="icon-box">
                            <!-- <i class="fas fa-forward"></i> -->
                            <img src="/img/icn-forward.png" alt="" height="45rem">
                        </div>
                        <div class="heading-box">
                            <h5> Fast Forward Your Career</h5>
                        </div>
                        <div class="content-of-card">
                            <p>We provide you the right path and material to fast forward your career with our platform.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="icon-box">
                            <!-- <i class="fas fa-handshake"></i> -->
                            <img src="/img/icn-hand-shake.png" alt="" height="45rem">
                        </div>
                        <div class="heading-box">
                            <h5> Get Certified</h5>
                        </div>
                        <div class="content-of-card">
                            <p> We certify your skill with industry demand tech course. </p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="icon-box">
                            <i class="fas fa-certificate"></i>
                            </i>
                        </div>
                        <div class="heading-box">
                            <h5>Get Placed After Certification</h5>
                        </div>
                        <div class="content-of-card">
                            <p> We assure your placement after complition of the course</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 bg-light">
            <div class="header_scroller border pt-2 pb-2">Job Alert</div>
            <div class="scroller bg-white shadow" style="height: 15rem; overflow:hidden">
                <marquee behavior="" scrollamount="" direction="up" class="h-100">
                    <ul>
                        <li>
                            <span><b class="mb-2" style="color: rgb(0, 39, 7);">26/05/2023</b></span>
                            <h6>Apply For Open Campus Drive - GRRAS</h6>
                            <p>Click Below TO Apply...</p>
                            <a href="" class="btn">Apply Now</a>
                        </li>
                        <hr>

                        <li>
                            <span><b class="mb-2" style="color: rgb(0, 39, 7);">26/05/2023</b></span>
                            <h6>Apply For Open Campus Drive - GRRAS</h6>
                            <p>Click Below TO Apply...</p>
                            <a href="" class="btn">Apply Now</a>
                        </li>
                        <hr>

                        <li>
                            <span><b class="mb-2" style="color: rgb(0, 39, 7);">26/05/2023</b></span>
                            <h6>Apply For Open Campus Drive - GRRAS</h6>
                            <p>Click Below TO Apply...</p>
                            <a href="" class="btn">Apply Now</a>
                        </li>
                        <hr>
                    </ul>
                </marquee>
            </div>
        </div>
    </div>
</section>