  <!-- ----------------------course advertising section------------------------ -->

  <main class="course-highlight">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center bg-dark">
        <div class="col-xl-10 col-sm-12 d-flex align-items-center justify-content-center pt-5 pb-5 col-main-slider"
          id="cards-roller">

          <!-- Slider main container -->
          <div class="swiper-2">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="col-sm-3 col-xs-1 pt-3 pb-3 ps-3 pe-3 me-3 shadow-sm text-center intern-bg car-d border">
                  <div class="img-box w-100 bg-light">
                    <img src="img/thumbnails/rhcsa_thumb.png" alt="" width="100%" class="fluid-img" style="object-fit: cover;">
                  </div>
                  <div class="feature-box mt-3">
                    <h5 class="">RHCSA</h5>
                    <hr>
                    <ul class="text-right">
                      <li>Unique Training</li>
                      <li>Experienced faculty</li>
                      <li>Revision Sessions <img src="/img/new-icn.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="slider-box mb-1">
                    <a href="/course-rhcse" class="btn-2 pt-2 pb-2 ps-2 pe-2 w-100">Learn More <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="col-sm-3 col-xs-1 pt-3 pb-3 ps-3 pe-3 me-3 shadow-sm text-center intern-bg car-d border">
                  <div class="img-box w-100 bg-light">
                    <img src="img/thumbnails/rce_thumb.png" alt="" width="100%" class="fluid-img" style="object-fit: cover;">
                  </div>
                  <div class="feature-box mt-3">
                    <h5 class="">RHCE</h5>
                    <hr>
                    <ul class="text-right">
                      <li>Unique Training</li>
                      <li>Experienced faculty</li>
                      <li>Revision Sessions <img src="/img/new-icn.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="slider-box mb-1">
                    <a href="/course-rha" class="btn-2 pt-2 pb-2 ps-2 pe-2 w-100">Learn More <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="col-sm-3 col-xs-1 pt-3 pb-3 ps-3 pe-3 me-3 shadow-sm text-center intern-bg car-d border">
                  <div class="img-box w-100 bg-light">
                    <img src="img/thumbnails/aws_thumbnail.png" alt="" width="100%" class="fluid-img" style="object-fit: cover;">
                  </div>
                  <div class="feature-box mt-3">
                    <h5 class="">AWS</h5>
                    <hr>
                    <ul class="text-right">
                      <li>Unique Training</li>
                      <li>Experienced faculty</li>
                      <li>Revision Sessions <img src="/img/new-icn.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="slider-box mb-1">
                    <a href="/course-aws" class="btn-2 pt-2 pb-2 ps-2 pe-2 w-100">Learn More <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>

                            <div class="swiper-slide">
                <div class="col-sm-3 col-xs-1 pt-3 pb-3 ps-3 pe-3 me-3 shadow-sm text-center intern-bg car-d border">
                  <div class="img-box w-100 bg-light">
                    <img src="img/thumbnails/devoops_thumb.png" alt="" width="100%" class="fluid-img" style="object-fit: cover;">
                  </div>
                  <div class="feature-box mt-3">
                    <h5 class="">DEV OOPS</h5>
                    <hr>
                    <ul class="text-right">
                      <li>Unique Training</li>
                      <li>Experienced faculty</li>
                      <li>Revision Sessions <img src="/img/new-icn.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="slider-box mb-1">
                    <a href="/course-devoops" class="btn-2 pt-2 pb-2 ps-2 pe-2 w-100">Learn More <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>

                            <div class="swiper-slide">
                <div class="col-sm-3 col-xs-1 pt-3 pb-3 ps-3 pe-3 me-3 shadow-sm text-center intern-bg car-d border">
                  <div class="img-box w-100 bg-light">
                    <img src="img/thumbnails/salesforce_thumb.png" alt="" width="100%" class="fluid-img" style="object-fit: cover;">
                  </div>
                  <div class="feature-box mt-3">
                    <h5 class="">SALESFORCE</h5>
                    <hr>
                    <ul class="text-right">
                      <li>Unique Training</li>
                      <li>Experienced faculty</li>
                      <li>Revision Sessions <img src="/img/new-icn.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="slider-box mb-1">
                    <a href="/course-salesforce" class="btn-2 pt-2 pb-2 ps-2 pe-2 w-100">Learn More <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>

                                          <div class="swiper-slide">
                <div class="col-sm-3 col-xs-1 pt-3 pb-3 ps-3 pe-3 me-3 shadow-sm text-center intern-bg car-d border">
                  <div class="img-box w-100 bg-light">
                    <img src="img/thumbnails/mern_thumbnail.png" alt="" width="100%" class="fluid-img" style="object-fit: cover;">
                  </div>
                  <div class="feature-box mt-3">
                    <h5 class="">FULL STACK WEB (MERN)</h5>
                    <hr>
                    <ul class="text-right">
                      <li>Unique Training</li>
                      <li>Experienced faculty</li>
                      <li>Revision Sessions <img src="/img/new-icn.png" alt=""></li>
                    </ul>
                  </div>
                  <div class="slider-box mb-1">
                    <a href="/course-mern" class="btn-2 pt-2 pb-2 ps-2 pe-2 w-100">Learn More <i
                        class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </main>