  <nav class="navbar navbar-expand-lg p-3 shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" alt="Bootstrap" width="120" height="" class="grras_logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gallery
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item d-flex" href="/gallery">
                  <div class="mt-1 me-2"><i class="fab fa-redhat"></i></div> Events
                </a></li>
              <li><a class="dropdown-item d-flex" href="/gallery">
                  <div class="mt-1 me-2"><i class="fas fa-undo-alt"></i></div>Certified Students
                </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item d-flex" href="/course-mern">
                  <div class="mt-1 me-2"><i class="fab fa-redhat"></i></div> Web development (MERN)
                </a></li>
              <li><a class="dropdown-item d-flex" href="/course-rhcse">
                  <div class="mt-1 me-2"><i class="fas fa-undo-alt"></i></div>RSCSA
                </a></li>
              <li><a class="dropdown-item d-flex" href="/course-rha">
                  <div class="mt-1 me-2"><i class="fab fa-aws drop-icon"></i></div>RHCE
                </a></li>
              <li class=""><a class="dropdown-item d-flex" href="/course-aws">
                  <div class="mt-1 me-2"><i class="fab fa-aws drop-icon"></i></div>AWS
                </a></li>
              <li><a class="dropdown-item d-flex" href="/course-devoops">
                  <div class="mt-1 me-2"><i class="fab fa-superpowers"></i></div>Devoops
                </a></li>
              <li><a class="dropdown-item d-flex" href="/course-salesforce">
                  <div class="mt-1 me-2"><i class="fab fa-aws drop-icon"></i></div>Salesforce (Admin & Dev)
                </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Internship & Placements
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item d-flex" href="/gallery">
                  <div class="mt-1 me-2"><i class="fab fa-redhat"></i></div> Placed Students
                </a></li>
              <li><a class="dropdown-item d-flex" href="/gallery">
                  <div class="mt-1 me-2"><i class="fas fa-undo-alt"></i></div>Events
                </a></li>
            </ul>
          </li>

          <button class="btn btn-outline-success ms-2" type="submit">Enquire Now</button>
        </ul>
      </div>
  </nav>

<style>

</style>