     <header class="text-center p-2"><span><i class="fa-solid fa-user-tie"></i></span> Vinaysheel Bawankule (Branch Owner) | <span><i class="fa-solid fa-envelope"></i></span>  vinaybawankule@gmail.com | <span><i class="fa-solid fa-phone"></i></span> +91 9975998226</header>
     <header class="" id="marquee_whatsapp"><marquee behavior="" direction="" class="" onmouseover="this.stop();" onmouseleave="this.start();"><span>Our Whatsapp Group To Get The Latest Updates On Placements -</span><a href="#" class="bg-success color-light p-2">CLICK HERE</a> | <span>Our Whatsapp Group To Get The Latest Updates On Placements -</span><a href="#" class="bg-success color-light p-2">CLICK HERE</a> | <span>Our Whatsapp Group To Get The Latest Updates On Placements -</span><a href="#" class="bg-success color-light p-2">CLICK HERE</a></marquee></header>

     {{!-- <marquee behavior="scroll" direction="left" onmousedown="this.stop();" onmouseup="this.start();">
Go on... click me (and hold the mouse down)!
</marquee> --}}

     <style>
        #marquee_whatsapp > marquee {
            background-color: rgb(22, 22, 22);
            padding: 0.35rem;
        }
        marquee > span{
            color: white !important;
        }

        marquee > a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-right: 12rem;
        }
     </style>